
<div class="contain">
  <h1>All our Flats (<%= @flats.length %>)</h1>
  <div class="flat-grid">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <div class="bg-light p-4">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <p><i class="fa-solid fa-user"></i><%= flat.number_of_guests %>
            <i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %>
          </p>
        </div>
        <p class="flat-action-bar"><%= link_to "More info", flat_path(flat) %></p>
      </div>
    <% end %>
  </div>
</div>
